// *{
//     margin: 0;
//     padding: 0;
// }
$primary-color: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
$secondary-color:rgb(255, 255, 255);
$accent-color:  hsl(163, 72%, 41%);
$blue-color:hsl(208, 92%, 53%);



.chart{
     width: 60%;
    padding:70px 10px 10px 10px;
}
.dashboard {
    display: flex;
  color: $primary-color;
  justify-content: space-between; 
  background-color: $secondary-color;
  padding-top: 70px;


  

    ul {
      list-style: none;
      padding: 7px;
    }

    li {
      margin-bottom: 10px;
    }

    a {
      color: $primary-color;
      text-decoration: none;
    }
  

  .main-content {
    flex: 1;
    padding: 20px 20px 20px 35px;

    .widgets {
      display: flex;
      flex-wrap: wrap;
      
    
      
      .overview-items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: $blue-color;
        border-radius: 10px;
      
        .overview-item {
          width: 150px;
          height: 100px;
          border-radius: 20%;
          background-color: $primary-color;
          color: $secondary-color;
          text-align: center;
          font-size: 20px;
          margin: 10px;
      
          i {
            font-size: 30px;
            margin-bottom: 10px;
          }
        }
      }
      
      
    }

    
  }
}
